<html>
<head>
  <title>Welcome to Our App!</title>
</head>
<body>
  <h1>Welcome to Our App, <%= @user.first_name %>!</h1>

  <p>Dear <%= @user.first_name %>,</p>

  <p>Your account has been successfully created with the email: <%= @user.email %>.</p>

  <p>Best Regards,<br>
  Your App Team</p>
</body>
</html>
